*.~dfm
*.~pas
/dcu
/obj
/bin
/doc
*.~ddp
 *.~dpr
/source/NetController.~dpr
/source/SWakeup.~bpg
/source/wakeup.~dpr
NetController.RES
NetController.rcscript
Wakeup.RES
Wakeup.rcscript
build_ffi.rcinc
buildkeys.rcinc