*.~dfm
*.~pas
*.~ddp
/dcu
/obj
/bin
/doc
/source/*.~dpr
/source/NetController.~dpr
/source/SWakeup.~bpg
/source/wakeup.~dpr
/source/NetController.res
/source/NetController.rcscript
/source/Wakeup.res
/source/Wakeup.rcscript
/source/build_ffi.rcinc
/source/buildkeys.rcinc
/source/swakeupicon.res